/* styles.css */

/* Ändra bakgrundsfärgen på <body> elementet */
body {
    background-color: #3498db; /* 
    color: #fff; /
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Ändra textfärgen på <h1> elementet */
h1 {
    color: #333;
}

